.academic-hero{
    position: relative;
    background-image: url("../images/badge1.png");
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    color: white;
}

.academic-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    transition: 0.4s ease;
    z-index: 1;
}

.about h1, .about p {
    position: relative;

    z-index: 2;
    color: white;
}
#library {
    position: relative;
    background-image: url("../images/library.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    color: white;
}

#science-lab {
    position: relative;
    background-image: url("../images/sciencelab2.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    color: white;
}

#computer-lab {
    position: relative;
    background-image: url("../images/ict-lab.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    color: white;
}

#science-lab::before, #library::before, #computer-lab::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    transition: 0.4s ease;
    z-index: 1;
}

#science-lab h3,
#science-lab p,
#library h3,
#library p,
#computer-lab h3,
#computer-lab p {
    position: relative;
    z-index: 2;
    color: white;
}
