/* Hero Section */
.hero {
    height: 90vh;
    background-image: url(../images/nyakasura_welcome_image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fit;
    position: relative;
}

/* Overlay */
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

/* Hero Content */
.hero-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
}

.about-hero {
    background-image: url("../images/aerial_view.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    opacity: 0.8;
    
    text-align: center;
}

/* Button */
.btn {
    background-color: #B22222;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background-color: #8B1A1A;
    transform: scale(1.05);
}

/* Sections */
section {
    padding: 40px;
    text-align: center;
}

.light {
    background-color: #F5F5F5;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

/* Gallery */
.gallery {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #B22222;
    color: white;
    text-align: center;
    padding: 20px;
}
